# This will match all files and assign them to the `benefits-contention-classification-engineers` team when a new PR is created.
* @department-of-veterans-affairs/benefits-contention-classification-engineers
